.logo {
    padding-top: 24px;
    padding-bottom: 25px;

    color: var(--accent-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    text-decoration: none;
}

.logo__studio {
    padding-top: 24px;
    padding-bottom: 25px;

    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    text-decoration: none;
    color: #000;
}